.main-content {
    margin-top: 80px; /* Ajusta la cantidad de margen según tus necesidades */
}
/* styles.css */
.content-padding {
    padding-left: 35px; /* Ajusta la cantidad de relleno según tus necesidades */
}

.imagen {
    width: 320px;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
.piefoto {
    text-align: center;
    padding: 5px 5px;
    color:black
}
img {
    max-width: 100%;
    height: auto;
}
